* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

/* HEADER */

.search-form {
  box-shadow: 3px 2px 6px #858585;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5em .3em;
  height: 3em;
  /* position: fixed; */
}
input {
  background-color: #fff;
  border: none;
  border-radius: 10px;
}
.menu-btn {
  background-image: url(img/burgermenu2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  /* width: 70%; */
  max-width: 3em;
  height: auto;
  margin: .25em;
  border-radius: 10px;
  background-color: #fff;
}
.logo {
  display: grid;
  background-image: url(img/newsbreaklogo3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  overflow: visible;
  height: auto;
  /* grid-column: 2/4; */
  grid-column: 3/6;
  transition: .7s;
}
.back-btn {
  grid-column: 3/4;
  display: none;
  margin: auto;
}
.search-input {
  grid-column: 4/7;
  background-color: #ededed;
  padding: 0 1em;
  font-size: 1.25em;
  margin: .2em 0;
  width: 100%;
  display: none;
  transition: .7s;
}
.search {
  grid-column: 7/8;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 90%;
  max-width: 3em;
  height: auto;
  margin: .25em auto;
}

/* NAV */

nav {
  position: fixed;
  left: -80vw;
  border-radius: 0 0 10px 0;
  box-shadow: 3px 2px 6px #858585;
  background-color: #fff;
  width: 60vw;
  height: auto;
  padding: 2em;
  transition: .7s;
}
.menu-logo {
  height: 2em;
}
.menu-item {
  margin: .65em;
  color: #111;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-top {
  border-bottom: 1px solid #c9c9c9;
}
.break-options {
  border: .5px solid #c9c9c9;
  box-shadow: 2px 2px 2px #c9c9c9;
  padding: .1em .2em;
}

/* RESULTS */

.theme {
  text-align: center;
  font-size: 1em;
  padding: .7em;
  letter-spacing: .1em;
  font-style: italic;
  /* color: #5e5e5e; */
  color: #ff4040;
  font-family: monospace;
}
.search-parameter {
  padding: 1em;
  /* color: #9e9e9e; */
  color: #00A7A7;
  /* text-shadow: .03em .03em #111; */
  font-weight: bold;
  letter-spacing: 5px;
}
a {
  color: #111;
  text-decoration: none;
}
.results-list {
  margin: 0 1em;
}
.results-list li a{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: .35em;
  min-height: 8em;
  border-bottom: 1px solid #e0e0e0;
  padding: 1em 0;
}
.story-container {
  grid-column: 1/4;
  display: block;
}
.results-list li h5, h3, p {
  justify-content: center;
}
.results-list li h3 {
  padding-bottom: .4em;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: bold;
}
.results-list li h5 {
  padding: .3em 0 .5em 1px;
  font-size: .8em;
  color: #9e9e9e;
  font-weight: bold;
}
.results-list p {
  font-size: 1em;
  line-height: 1.2em;
  padding: 1em 0;
  display: none;
}
.results-list .article-thumbnail {
  display: grid;
  width: 7em;
  height: auto;
  grid-column: 4/5;
  justify-content: center;
  margin: .5em;
  border-radius: 10px;
}
.more-stories {
  visibility: hidden;
  text-align: center;
  padding: 1em;
  box-shadow: 2px 0 5px #c9c9c9;
}
.more-stories:hover {
  cursor: pointer;
}

/* TABLET 1 */

@media only screen and (min-width: 768px) {
  form {
    height: 4.5em;
    position: fixed;
    background-color: #fff;
    width: 100%;
  }
  .search-form {
    height: 3.5em;
    background-color: #00A7A7;
  }
  .menu-btn {
    width: 50%;
    margin: .25em auto;
  }
  .logo {
    grid-column: 2/4;
  }
  .search-input {
    display: block;
    margin: .35em 0;
  }
  .search {
    background-color: #FF9C00;
  }
  nav {
    width: 40vw;
  }
  .menu-logo {
    height: 3em;
    width: 70%;
  }
  .menu-item {
    margin: 1em;
    font-size: 1.15em;
  }
  .search-parameter {
    padding: 5.5em 2em 2em;
    font-size: 1.1em;
  }
  .theme {
    font-size: 1.4em;
    letter-spacing: .2em;
    padding: 1em;
  }
  .results-list .article-thumbnail {
    width: 10em;
  }
}

/* TABLET 2 SIZING */

@media only screen and (min-height: 1024px) {

  nav {
    width: 40vw;
  }

  .results-list {
    margin: 1em 2em;
  }
  .results-list p {
    display: block;
  }
}

/* DESKTOP SIZING */

@media only screen and (min-width: 820px) {

  /* HEADER */

  form {
    position: fixed;
    width: calc(100% - 2em);
    top: 0;
    left: 1em;
    height: 6em;
    background-color: #fff;
  }
  .search-form {
    margin-top: 1em;
    height: 4em;
    border-radius: 10px;
  }
  .menu-btn {
    display: none;
  }
  .logo {
    grid-column: 1/3;
  }
  .search {
    margin: .35em auto;
  }

  /* NAV BOX */

  nav {
    position: fixed;
    left: 1em;
    top: 4em;
    box-shadow: none;
    border: 2px solid #c9c9c9;
    width: 20vw;
    border-radius: 10px;
    height: auto;
    padding: 2em;
    margin-top: 2em;
  }
  .menu-logo {
    display: none;
  }
  .menu-top {
    margin-top: 2.5em;
  }

/* RESULTS */

  .results-list {
    margin: 0 3em 0 25vw;
  }
  .search-parameter {
    padding: 2em;
    margin-top: 5em;
    margin-left: 25vw;
  }
  .results-list li a{
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 1em;
    margin: .5em 0;
  }
  .results-list .article-thumbnail {
    width: 15em;
  }
  .results-list p {
    display: block;
  }
}
