* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

form {
  border-bottom: 1px solid #c9c9c9;
  box-shadow: 2px 0 5px #c9c9c9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  height: 2.5em;
  /* position: fixed; */
}
nav {
  position: fixed;
  left: -60vw;
  box-shadow: 2px 2px 5px #c9c9c9;
  background-color: #fff;
  width: 60vw;
  height: auto;
  padding: 2em;
  transition: .4s;
}
.menu-item {
  margin: .65em;
  color: #111;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-top {
  border-bottom: 1px solid #c9c9c9;
}
.break-options {
  border: .5px solid #c9c9c9;
  box-shadow: 2px 2px 2px #c9c9c9;
  padding: .1em .2em;
}
input {
  background-color: #fff;
  border: none;
}
.menu-btn {
  background-image: url(img/burgermenu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 70%;
  max-width: 3em;
  height: auto;

}
a {
  color: #111;
  text-decoration: none;
}
.results-list {
  margin: 0 1em;
}
.results-list li a{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: .35em;
  min-height: 8em;
  border-bottom: 1px solid #e0e0e0;
}
.results-list li h5, h3, p {
  grid-column: 1/4;
  justify-content: center;
}
.results-list li h5 {
  padding: 1em 0 0;
  font-size: .8em;
}
.results-list li h3 {
  padding: .5em 0;
  font-size: 1.2em;
  line-height: 1.4em;
}
.results-list p {
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 1em;
  display: none;
}
.results-list .article-thumbnail {
  display: grid;
  width: 7em;
  height: auto;
  grid-column: 4/5;
  justify-content: center;
  padding: 0 0 .5em .5em;
}
.logo {
  display: grid;
  background-image: url(img/newsbreaklogo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 135%;
  height: auto;
  grid-column: 2/4;
  margin-top: .25em;
}
.menu-logo {
  height: 2em;
}
.search-input {
  grid-column: 4/7;
  background-color: #ededed;
  padding: 0 1em;
  font-size: 1.25em;
  margin-top: .2em;
}
.search-parameter {
  padding: 1em;
}
.search {
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: 90%;
  max-width: 3em;
  height: auto;
  margin: 0 auto;
}
.more-stories {
  visibility: hidden;
  text-align: center;
  padding: 1em;
  box-shadow: 2px 0 5px #c9c9c9;
}
.more-stories:hover {
  cursor: pointer;
}

/* TABLET SIZING */
@media only screen and (min-height: 1024px) {
  form {
    height: 3em;
  }
  .menu-logo {
    height: 3em;
  }
  .menu-item {
    margin: 1em;
    font-size: 1.15em;
  }
  .search-parameter {
    padding: 2em;
    font-size: 1.1em;
  }
  .results-list {
    margin: 1em 2em;
  }
  .results-list .article-thumbnail {
    padding: 0 0 1em 1em;
    width: 10em;
  }
  .results-list p {
    display: block;
  }
}
